<ion-item mode="ios">
  <ion-grid>
    <ion-row>
      <ion-col size-xs="12" size-md="9"  size="9">
        <ion-label class="ion-text-wrap">
          <h2> {{product.name}}</h2>
        </ion-label>
      </ion-col>
      <ion-col class="ion-text-center" size-xs="12" size-md="3" size="3">
        <ion-row>
          <ion-label size="large">
            {{product.unitPrice  | currency : 'NTD': ' ' : '1.0-0'}}
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            <ion-button class="ion-no-padding" fill="clear" (click)="minusAmount()">
              <ion-icon icon-only slot="icon-only" color="warning" size="large" name="remove-circle-outline"></ion-icon>
            </ion-button>
            <span> {{product.amount}}</span>
            <ion-button  class="ion-no-padding" fill="clear" (click)="addAmount()">
              <ion-icon color="secondary" size="large" name="add-circle"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            {{product.amount * product.unitPrice |currency :'NT' : ' ': '1.0-0'}}
          </ion-label>
        </ion-row>
        <ion-row>
          <ion-label>
            <ion-button fill="clear" (click)="onDelete()">
              <ion-icon color="danger" size="large" name="close-circle-outline"></ion-icon>
            </ion-button>
          </ion-label>
        </ion-row>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>