<ion-list>
  <ion-item>
    <ng-container *ngIf="index=== 0 ; else paymentText">
      <ion-label color="primary">付款方式</ion-label>
    </ng-container>
    <ng-template #paymentText>
      <ion-label color="warning">付款方式 {{ index + 1 }}</ion-label>

    </ng-template>

    <ion-select (ionChange)="onPaymentSelect($event.detail.value)" placeholder="付款方式" [value]="payment.name" okText="OKK!"
      cancelText="先不要">
      <ion-select-option value="cash">現金</ion-select-option>
      <ion-select-option value="credit-card">刷卡</ion-select-option>
      <ion-select-option value="jkos">街口</ion-select-option>
      <ion-select-option value="line-pay">LINE PAY</ion-select-option>
      <ng-container *ngIf="index ===0">
        <ion-select-option value="remit">匯款</ion-select-option>
        <ion-select-option value="shopee">蝦皮</ion-select-option>
        <ion-select-option value="ruten">露天</ion-select-option>
      </ng-container>
    </ion-select>
  </ion-item>


  <ion-item *ngIf="payMethod !== 'ruten' && payMethod !== 'shopee' && payMethod !== 'remit'">
    <ion-input type="number" [(ngModel)]="payPrice" (ionChange)="onPayPriceChange()"
      placeholder="金額" clearInput></ion-input>
  </ion-item>

  <!-- credit card -->

  <ion-item *ngIf="payMethod === 'credit-card'">
    <ion-label>分期選項</ion-label>
    <ion-select (ionChange)="onLayawaySelect($event.detail.value)" value="1" okText="OKK !" cancelText="取消">
      <ion-select-option value="1">財富自由，一次付清</ion-select-option>
      <ion-select-option value="3">3期</ion-select-option>
      <ion-select-option value="6">6期</ion-select-option>
      <ion-select-option value="12">12期</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="payMethod === 'credit-card' && layaway !== 1 ">
    <ion-label>分期銀行</ion-label>
    <ion-select value="" okText="OKK !" cancelText="取消">
      <ion-select-option value="中國信託">中國信託</ion-select-option>
      <ion-select-option value="國泰世華">國泰世華</ion-select-option>
      <ion-select-option value="台新銀行">台新銀行</ion-select-option>
      <ion-select-option value="玉山銀行">玉山銀行</ion-select-option>
      <ion-select-option value="富邦銀行">富邦銀行</ion-select-option>
      <ion-select-option value="花旗銀行">花旗銀行</ion-select-option>
      <ion-select-option value="永豐銀行">永豐銀行</ion-select-option>
      <ion-select-option value="聯邦銀行">聯邦銀行</ion-select-option>
      <ion-select-option value="星展銀行">星展銀行</ion-select-option>
      <ion-select-option value="元大銀行">元大銀行</ion-select-option>
      <ion-select-option value="上海商銀">上海商銀</ion-select-option>
      <ion-select-option value="台灣銀行">台灣銀行</ion-select-option>
      <ion-select-option value="華南銀行">華南銀行</ion-select-option>
      <ion-select-option value="第一銀行">第一銀行</ion-select-option>
      <ion-select-option value="彰化銀行">彰化銀行</ion-select-option>
      <ion-select-option value="合庫銀行">合庫銀行</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="payMethod === 'line-pay' || payMethod === 'credit-card'">
    <ion-input #inputAuthCode (ionChange)="onCreditCardInfoChange()" type="number" placeholder="授權碼" clearInput>
    </ion-input>
    <span
      [ngClass]="{error : inputAuthCode.value.toString().length > authCodeLength}">{{inputAuthCode.value.toString().length}}/{{authCodeLength}}</span>
  </ion-item>

  <ion-item *ngIf="payMethod === 'credit-card'">
    <ion-input #inputCredit4Digi (ionChange)="onCreditCardInfoChange()" type="number" placeholder="末四碼" clearInput>
    </ion-input>
    <span
      [ngClass]="{error : inputCredit4Digi.value.toString().length > 4}">{{inputCredit4Digi.value.toString().length}}/4</span>
  </ion-item>


  <ng-container *ngIf="payMethod=== 'remit'">
    <ion-item style="cursor: pointer;" (click)="onRemitItemClick()">
      <ion-label>{{remit?.code}} | {{remit?.name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-input (ionChange)="onRemitInfoChange()" #inputRemit5Digi maxlength="5" minlength="5" type="number"
        placeholder="後五碼" clearInput></ion-input>
      <span
        [ngClass]="{error : inputRemit5Digi.value.toString().length > 4}">{{inputRemit5Digi.value.toString().length}}/5</span>

    </ion-item>
  </ng-container>
</ion-list>
<ng-container *ngIf="index === 0 else deleteBtn">
  <ion-button [disabled]="btnNewPaymentDisabled" expand="block" class="ion-text-center" size="large" fill="clear"
    (click)="onAddNewMethodClick()">
    <ion-icon size="large" color="warning" slot="icon-only" name="add-circle-outline"></ion-icon>
  </ion-button>
</ng-container>
<ng-template #deleteBtn>
  <ion-button expand="block" class="ion-text-center" size="large" fill="clear" (click)="onDeleteMethodClick()">
    <ion-icon size="large" color="danger" slot="icon-only" name="close-circle-outline"></ion-icon>
  </ion-button>
</ng-template>