<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      付款資訊
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <app-payment-item 
  *ngFor="let payment of paymentList ;
   let i  = index" [index]="i" [payment]="payment"
   (newPayment)="addNewPayment()"></app-payment-item>


</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button [disabled]="isConfirmDisabled" (click)="onConfirmClick()" expand="block" color="success">
      確定
    </ion-button>
    <ion-button (click)="onCancelClick()" expand="block" color="primary">
      取消
    </ion-button>
  </ion-toolbar>
</ion-footer>