<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{pageTitle}} | Jmplus</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button color="danger" menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table>
    <thead>
      <tr>
        <th>
          品牌
        </th>
        <th>
          名稱
        </th>
        <th>
          建議售價
        </th>
        <th>
          店內售價
        </th>
        <th>
          類型
        </th>
        <th>
          庫存
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>5</td>

      </tr>
    </tbody>
  </table>
</ion-content>