<app-header>
  PoS
  <!-- <ng-container class="right-side-bar">
    <app-right-sidebar></app-right-sidebar>
  </ng-container> -->

</app-header>
<ion-content [fullscreen]="true" id="righe-side">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-no-padding" size-lg="8" size-md="8" size-sm="12" size="12">
        <app-bar-code></app-bar-code>
        <app-product-list></app-product-list>
      </ion-col>
      <ion-col class="ion-no-padding" size-lg="4" size-md="4" size-sm="12" size="12">
        <app-total-price></app-total-price>
        <app-payment></app-payment>
        <app-tax></app-tax>
        <app-carrier></app-carrier>
        <app-checkout></app-checkout>

      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row> -->
  </ion-grid>


</ion-content>