<!-- <ion-menu side="end" menuId="funcrtion-menu" contentId="main" type="push">
  <ion-header>
    <ion-toolbar corlor="secondary">
      <ion-title class="ion-text-center">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/pos">
          <ion-icon name="pos" slot="start"></ion-icon>
          <ion-label>POS</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
    <ion-menu-toggle>
      <ion-item routerLink="/search">
        <ion-icon name="prodcut" slot="start"></ion-icon>
        <ion-label>價目表</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink="/customer">
        <ion-icon name="order" slot="start"></ion-icon>
        <ion-label>客連單</ion-label>
      </ion-item>
    </ion-menu-toggle>
    
  </ion-content>
</ion-menu> -->