<app-side-card [show]="show">
  <ng-container cardTitle>
    <ion-button (click)="onResetClick()" expand="block" fill="clear">
      <ion-card-title class="ion-text-center">
        總金額
      </ion-card-title>
      <ion-icon *ngIf="isDiscounted" class="ion-padding-start" size="large" color="warning" name="reload-outline">
      </ion-icon>
    </ion-button>

  </ng-container>
  <ng-container cardContent>
    <ion-button fill="clear" expand="block" (click)="onPriceClick()">
      <ion-card-title class="ion-text-center" color="{{color}}">
        {{totalPrice | currency : 'NTD' : '' : '1.0-0'}}
      </ion-card-title>
      <ion-icon class="ion-padding-start" size="large" name="settings-outline"></ion-icon>
    </ion-button>
<!-- 
    <ion-card-title class="ion-text-left">1000</ion-card-title>

    <ion-card-title class="ion-text-left">1000</ion-card-title> -->

  </ng-container>
</app-side-card>