<ion-card *ngIf="showCalculator">
  <ion-card-header style="padding-bottom:5px;">
    <ion-card-title class="ion-text-right">
      {{moneyShouldPaid | currency : 'NTD' : '' : '1.0-0'}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-header style="padding-top:5px; padding-bottom: 5px;">
    <ng-container *ngFor="let payment of paymentList">
      <span> {{payment.displayName}}</span>
      <ion-card-title class="ion-text-right">
       — {{ payment.payPrice | currency : 'NTD' : '' : '1.0-0'}}
      </ion-card-title>
    </ng-container>


  </ion-card-header>
  <hr class="soild">
  <ion-card-header style="padding-top:5px; padding-bottom: 5px;">
    <ion-card-title color="{{color}}" class="ion-text-right">
      {{resultText}} {{ calculatorResult | currency : 'NTD' : '' : '1.0-0' }}
    </ion-card-title>
  </ion-card-header>
</ion-card>